header {
  background-color: #242424;
  padding: 1rem 0;
}

header .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

header nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

header nav ul li a {
  color: #fff;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #646cff;
}

main {
  padding: 2rem;
}
